@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}


.custom-sidebar-menu .ant-menu-item:hover, 
.custom-sidebar-menu .ant-menu-item-active {
    background-color: green !important; 
    color: white;
}

.custom-sidebar-menu .ant-menu-item-selected {
    background-color: green !important; 
    color: white;
}

.custom-sidebar-menu .ant-menu-item a {
    color: black !important; 
}

.custom-sidebar-menu .ant-menu-item a:hover {
    color: white !important; 
}

.custom-sidebar-menu .ant-menu-item-selected a {
    color: white !important;
}

#overflow::-webkit-scrollbar{
visibility: none;
display: none;
}


.shadow {
    box-shadow: 0px 0px 12px 0px #20b52652;
  }
  
  .decoration {
    text-decoration: line-through;
  }
  
  #priceRange::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green; 
    cursor: pointer;
    position: relative;
    top: 0px;
  }
  
  #priceRange::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green; 
    cursor: pointer;
  }
  
  #priceRange::-ms-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  
    background-color: green; 
    cursor: pointer;
  }
  
  #overflow::-webkit-scrollbar{
    visibility: none;
    display: none;
   
  }
  #change{
    height: 20px;
    width: 20px;
    max-width: 15px;
  }

  .border-inline-end{
    border:none;
}
  
.range-slider__range,.range-slider__thumb{
  background-color: #00B207 !important;
}

.range-slider .range-slider__thumb {
  width: 18px !important;
  height: 18px !important;
}

.range-slider {
  height: 6px !important;
}
  
  
  


